@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  @apply border
}

:root {
  --background: #ffffff;
  --textColor: #171717;
  --btnColor: #27FC83; 
  --btnText: black;
  --border: #707070;
}



:root[theme="dark"] {
  background-color: #0a0a0a;
  --textColor: white;
  --btnColor: #27FC83;
  --btnText: black;
  --border: #707070;
}
:root[theme="dark-contrast"] {
  --background: #0a0a0a;
  --textColor: white;
  --btnColor: #27FC83;
  --btnText: black;
  --border: #7070702c;
}
:root[theme="dark-dim"] {
  --background: #23221C;
  --textColor: #DBD1D1;
  --btnColor: #27FC83;
  --btnText: black;
  --border: #707070;
}


:root[theme="serpia-contrast"] {
  --background: #D1AF27;
  --textColor: black;
  --btnColor: black;
  --btnText: white;
  --border: #22222257;
  --accent: 
}
:root[theme="serpia-lighter"] {
  --background: #FFECA1;
  --textColor: black;
  --btnColor: black;
  --btnText: white;
  --border: #7070708f;
  --accent: 
}

:root[theme = "grayscale"] {
  --background: #F1F1F1;
  --textColor: black;
  --border: #707070;
  --btnColor: black;
  --btnText: white;

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --textColor: #ededed;
    --btnColor: #27FC83;
    --btnText: black;
    --border: #707070;
  }
}


  .comp-border{
    @apply border-solid border-[var(--border)] border-opacity-15 border-[1.5px];
  }

  .btn{
    @apply bg-btnColor px-8 py-2 rounded-lg text-btnText font-semibold hover:bg-green-500;
  }
